<div class="summary-container">
  <div class="summary-item">
    <h3>Agenda</h3>
    <div class="summary-content">
      <p>Novembre 2024</p>
    </div>
  </div>

  <div class="summary-item">
    <h3>Demandes de services</h3>
    <div class="summary-content">
      <p>Ouverture compte - Alain FRENAULT</p>
      <p>Assurance vie - Sofia ARLOUCHE</p>
      <p>Demande prêt - Mamadou TOURE</p>
    </div>
  </div>
</div>

<div class="summary-container">
  <div class="summary-item">
    <h3>Portefeuille client</h3>
    <div class="summary-content">
      <p>N°19543 - Alain FRENAULT</p>
      <p>N°19542 - Sofia ARLOUCHE</p>
      <p>N°19541 - Mamadou TOURE</p>
    </div>
  </div>

  <div class="summary-item">
    <h3>
      <a routerLink="/bank-operations-component" routerLinkActive="active">
        Opérations quotidiennes
      </a>
    </h3>
    <div class="summary-content">
      <p>Virement - Alain FRENAULT</p>
      <p>Prélèvement - Sofia ARLOUCHE</p>
      <p>Carte bancaire - Mamadou TOURE</p>
    </div>
  </div>
</div>