  <!-- Contenu structuré -->
  <div class="dashboard-grid">
    <app-calendar></app-calendar>
  
    <!-- Demandes de services -->
    <div class="box">
      <h3>Demandes de services</h3>
      <table>
        <thead>
          <tr>
            <th>Libellé demande</th>
            <th>Nom client</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ouverture compte</td>
            <td>Alain FRENAULT</td>
          </tr>
          <tr>
            <td>Assurance vie</td>
            <td>Sofia ARLOUCHE</td>
          </tr>
          <tr>
            <td>Demande prêt</td>
            <td>Mamadou TOURE</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Portefeuille client -->
    <div class="box">
      <h3>Portefeuille client</h3>
      <table>
        <thead>
          <tr>
            <th>Numéro de compte</th>
            <th>Nom client</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>N°19543</td>
            <td>Alain FRENAULT</td>
          </tr>
          <tr>
            <td>N°19542</td>
            <td>Sofia ARLOUCHE</td>
          </tr>
          <tr>
            <td>N°19541</td>
            <td>Mamadou TOURE</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Opérations quotidiennes -->
    <div class="box">
      <h3>Opérations quotidiennes</h3>
      <table>
        <thead>
          <tr>
            <th>Opération réalisée</th>
            <th>Nom client</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Virement</td>
            <td>Alain FRENAULT</td>
          </tr>
          <tr>
            <td>Prélèvement</td>
            <td>Sofia ARLOUCHE</td>
          </tr>
          <tr>
            <td>Carte bancaire</td>
            <td>Mamadou TOURE</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


<app-chatbot class="chatbot-container"></app-chatbot>
