.summary-container {
    display: flex;
    gap: 150px; 
    margin-top: 20px;
    justify-content: center; 
  }
  
  .summary-item {
    background-color: #000;
    color: #fff;
    border-radius: 12px;
    padding: 40px;
    width: 300px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .summary-content {
    background-color: #111;
    border-radius: 8px;
    padding: 10px;
    font-size: 0.9rem;
    color: #ccc;
  }
  