<div class="chatbot-container">
    <div class="chat-icon" (click)="toggleChat()">
      🤖
    </div>
    
    <!-- Fenêtre modale du chatbot -->
    <div class="modal-overlay" *ngIf="isChatOpen">
        <div class="chat-window">
            <div class="chat-header">
                ChatBot
                <button class="close-btn" (click)="toggleChat()">X</button>
            </div>
            <div class="chat-body">
                <div *ngFor="let message of messages">
                    <p [ngClass]="message.sender">{{ message.text }}</p>
                </div>
                <input type="text" [(ngModel)]="userMessage" (keyup.enter)="sendMessage()" placeholder="Écrivez un message..." />
            </div>
        </div>
    </div>
</div>
