/* Icone du chatbot */
.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.chat-icon {
  width: 60px;
  height: 60px;
  background-color:#00ff99;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Overlay pour le modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

/* Fenêtre du chatbot */
.chat-window {
  width: 800px; /* Largeur ajustée */
  height: 600px; /* Hauteur ajustée */
  background: black;
  border: 2px solid #00c853; /* Bordure ajoutée */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Entête du chatbot */
.chat-header {
  background:#00ff00;
  color: black;
  padding: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00a743;
}

.close-btn {
  background: none;
  border: none;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Corps du chatbot */
.chat-body {
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
}

input {
  width: calc(100% - 40px);
  margin: 10px 20px;
  padding: 10px;
  border: 2px solid #00ff00;
  border-radius: 5px;
}

/* Messages */
.user {
  text-align: right;
  color: white;
}

.bot {
  text-align: left;
  color: #00ff00;
}
