<div class="login-wrapper">
  <div class="login-box">
    <!-- Partie gauche : Formulaire -->
    <div class="form-section">
      <div class="logo-title">
        <img src="assets/images/logo.png" alt="Logo MALSI" class="logo">
        <h1 class="title">MALSI</h1>
      </div>

      <h2 class="welcome-message">Bienvenue 👋</h2>

      <p class="subtitle">
        Aujourd’hui, tout est possible. Connectez-vous et faites avancer vos projets avec énergie et inspiration !
      </p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="Example@email.com" required />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          <small class="error-message" *ngIf="loginForm.get('email')?.errors?.['required']">L'email est requis.</small>
          <small class="error-message" *ngIf="loginForm.get('email')?.errors?.['email']">L'email doit être valide.</small>
        </div>

        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password" placeholder="***********" required />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <small class="error-message" *ngIf="loginForm.get('password')?.errors?.['required']">Le mot de passe est requis.</small>
          <small class="error-message" *ngIf="loginForm.get('password')?.errors?.['minlength']">Le mot de passe doit contenir au moins 8 caractères.</small>
          <small class="error-message" *ngIf="loginForm.get('password')?.errors?.['pattern']">Le mot de passe doit contenir au moins une majuscule, une minuscule, un chiffre et un caractère spécial.</small>
        </div>

        <a href="/forgot-password" class="forgot-password">Mot de passe oublié?</a>

        <button type="submit" class="submit-btn">Se connecter</button>
      </form>

      <p class="footer">© 2024 ALL RIGHTS RESERVED</p>
    </div>

    <!-- Partie droite : Image -->
    <div class="image-section">
      <img src="assets/images/login.jpg" alt="Image de connexion">
    </div>
  </div>
</div>
