<div class="greeting">
    <h3>Bonjour Evano 👋, voici votre récapitulatif du jour :</h3>
  </div>
  <div class="banner">
    <div class="summary">
      <div class="summary-item">
        <div class="icon">
          <span>👤</span>
        </div>
        <div class="info">
          <p>Rendez-vous</p>
          <p class="number">{{ rendezVous }}</p>
        </div>
      </div>
      <div class="separator"></div>
      <div class="summary-item">
        <div class="icon">
          <span>🧾</span>
        </div>
        <div class="info">
          <p>Demandes de services</p>
          <p class="number">{{ demandesServices }}</p>
        </div>
      </div>
      <div class="separator"></div>
      <div class="summary-item">
        <div class="icon">
          <span>💻</span>
        </div>
        <div class="info">
          <p>Demandes d'opérations</p>
          <p class="number">{{ demandesOperations }}</p>
        </div>
      </div>
    </div>
  </div>
  