<div class="sidebar">
    <div class="logo">
        <img src="assets/images/logo.png" alt="Malsi Logo">
      <div>
        <span class="brand-name">MALSI</span>
      </div>
    </div>
  
    <nav class="menu">
      <ul>
        <li class="menu-item active">
          <a routerLink="/dashboard" routerLinkActive="active">
            <span class="icon">🏠</span>
            Tableau de bord
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/create-account" routerLinkActive="active">
            <span class="icon">👤</span>
            Création de compte
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/customer-portfolio" routerLinkActive="active">
            <span class="icon">📂</span>
            Portefeuille Client
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/appointments" routerLinkActive="active">
            <span class="icon">📅</span>
            Rendez-vous
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/service-requests" routerLinkActive="active">
            <span class="icon">📝</span>
            Demandes de services
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/bank-operations" routerLinkActive="active">
            <span class="icon">💳</span>
            Opérations quotidiennes
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/help-bank-advisor" routerLinkActive="active">
            <span class="icon">❓</span>
            Aide
          </a>
        </li>
      </ul>
    </nav>
  
    <div class="user-section">
      <div class="user-info">
        <img src="assets/images/macron.jpg" alt="User Profile">
        <div>
          <a routerLink="/profil" routerLinkActive="active" class="user-name">Evano </a>
          <br>
          <span class="user-role">Conseiller bancaire</span>
        </div>
      </div>
      <a href="#" class="logout">Se déconnecter</a>
    </div>
  </div>
  