@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

p, a, li {
    font-weight: 400;
}
.block-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
