<app-sidebar></app-sidebar>
<div class="main-content">
  <app-banner></app-banner>

  <div class="requests-container">
    <h2>Demande de Service</h2>

    <form (submit)="submitRequest()">
      <div class="form-group">
        <label for="subject">Objet :</label>
        <select id="subject" [(ngModel)]="requestData.subject" name="subject" required>
          <option value="" disabled selected>Choisissez un objet</option>
          <option value="ouverture">Ouverture de compte</option>
          <option value="pret">Demande de prêt</option>
          <option value="assurance">Assurance</option>
          <option value="autre">Autre</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Description :</label>
        <textarea id="description" [(ngModel)]="requestData.description" name="description" required></textarea>
      </div>

      <button type="submit" class="submit-btn">Envoyer la Demande</button>
    </form>
  </div>
</div>
